body{
    background: url("background.jpg") no-repeat center center fixed;
    background-size:cover;
}
header{
    width:70%;
    margin:0 auto;
    margin-top:5%;
    border-bottom:3px solid #ffffff;
    padding-bottom:1%;
}
    header h2{
        text-align:center;
        color:#ffffff;
        font-size:29px;
        margin-bottom:10%;
    }
   header #form #inputText{
       width:40%;
       margin-left:10%;
       border-radius: 5px;
       outline: none;
       text-align:center;
   }
   /*BUTTONS : ADD CLEAR HIDE*/
   header #form .button{
       border-radius:5px;
       margin-left:1%;
       width:10%;
       cursor:pointer;
       color:whitesmoke;
       outline:none;
   }
   header #form #addTask{
       background-color: #1aa196;
       border-color: #1aa196;
   }
   header #form #clearTask{
       background-color: #cc4633;
       border-color:#cc4633;    
   }
   header #form #showHideTask{
       background-color: #33a746;
       border-color: #33a746;
   }
   header #searchBtn{
       margin-top:5%;
       padding-left:20px;
       border-radius: 5px;
       cursor: pointer;
       outline:none;
   }
/*TASK LIST*/
main .list{
	list-style-type: none;
	width:70%;
    margin:0 auto;
    margin-top:1%;
    font-size: 19px;
    font-weight: bold;
    color:whitesmoke;
}
    main .list li:hover{
        background-color:rgba(145, 143, 143, 0.1);   
    }
    /*Li ICONS */
    main .list li .fa{
        transition: 1s;
        font-size:19px;
        cursor: pointer;
    }
    main .list li .fa-star-o:hover{
        transition:1s;
        color:#fcef03;
    } 
    main .list li .delete:hover{
        transition: 1s;
        color: #DC0C0C;
    }
    main .list li .check:hover{
        transition: 1s;
        color: #4EDF96;
    }
    main .list li .edit:hover{
        transition: 1s;
        color: #43a7aa;
    }
    main .list li .editInput{
        width:60%;
        background: none;
        border:none;
        color:whitesmoke;
        font-size:19px;
        outline:none; 
    }
    main .list li .description{
        font-size:16px;
        cursor:pointer;
        color:#b8dee0;
    }
    main .list li .descriptionText{
        visibility: hidden;
        background-color:rgba(145, 143, 143, 0.6);
        opacity: 4;
        color:#1f1f1d;
        text-align: center;
        padding-left: 10px;
        border-radius: 6px;
        position: absolute;
        padding:2px;
        overflow:auto;
        margin-left:3%;
        height:30%;
        width:20%; 
    }
       main .list li .description:hover .descriptionText{
            visibility: visible;     
        }
    /*IF GOAL IS CHECKED*/
    .checked{
        color: #4EDF96;
        cursor: pointer;
        border-bottom:2px solid #4EDF96;    
    }


