body{
    padding:0;
    margin:0;
    background:#262626;
    height:100vh;
    overflow:hidden;   
}
.left-bar{
    background:#191919;
    height:100%;
    width:50px;
    position:absolute;  

    .logo{
    //Logo
    & > p:first-child{
        background-color:#000000;
        margin:0;
        padding:6px; 
        text-shadow: 3px 0px 2px #ff0606;  
        color:#08fdd8;
        font-size:35px;
        text-align:center; 
        cursor:default;     
    }//Logo Text
    & > p:nth-child(2){
        background-color:#000000;
        color:#aaaaaa;
        font-size:10px;
        text-align:center;
        margin:0;
        padding-bottom:5%;
        margin-bottom:300%;
        cursor:default;
    }
    }
   
    //Left Bar Icons
    .infoIcons{     
        display:flex;
        flex-direction:column;
        
        .fa{       
            color:#4d4d4d;
            cursor:pointer;  
            transition:1s;      
            font-size:30px;
            margin:10%;  
            margin-left:20%;
        
            &:hover{
                transform:rotate(20deg);              
            }
        } 

    }
    
    //Select Social Icons (last 4)
    .socialIcons{
        color:#4d4d4d;  
        padding:1px;
        font-size: 150%;
        display:flex;
        flex-direction:column;
      
        & > p:first-child{
            font-size:60%;
            text-align:center;
            padding-top:50%;
            font-weight:bold; 
            color:#08fdd8;
            transition:3s;
            cursor:pointer;

            &:hover{
                transform:rotateY(180deg);
                color:#08fdd8;
            }
        }

        & > .fa{
            display:none;
            margin:5%;
            margin-left:20%;
                     
        }
        & > i:hover{
            color: #08fdd8;
            transition:1s;
            transform:scale(1.5, 1.5);        
        }
    }
}
//loading Page
#loadingPage{
    display:none;
    margin-left:50px;
    position:absolute;
    height:100%;
    width:100%;
    background:#1e1e1e;

    h1{
        text-shadow: 3px 0px 2px #ff0606;  
        color:#08fdd8;
        text-align:center;
        margin-top:15%;
        margin-bottom:0px;
    }
    h3{
        text-align:center;
        color:#8f8f8f;
        margin-top:0px;
        font-size:12px;
    }
    p{
        text-align:center;
        color:#939393;
        font-size:12px;
        font-family:"Times New Roman", Times, serif;
    }
}
//RubberBand Effect
.rubberBand {
    animation: rubberBand 1.2s;   
}
    @keyframes rubberBand {
        0% {
        transform: scale3d(1, 1, 1);
        }
        30% {
        transform: scale3d(1.25, 0.75, 1);
        }
        40% {
        transform: scale3d(0.75, 1.25, 1);
        }
        50% {
        transform: scale3d(1.15, 0.85, 1);
        }
        65% {
        transform: scale3d(.95, 1.05, 1);
        }
        75% {
        transform: scale3d(1.05, .95, 1);
        }
        100% {
        transform: scale3d(1, 1, 1);
        }
    }

.rubber{
  font-weight:bold;
  margin-left:-5px;
  margin-right:-7px;
  display:inline-block;
  &:hover{
      color:#08fdd8;
      cursor:default;
  } 
}
//'Home' Icon
#homeIcon{
    display:none;
    background: rgb(255, 255, 255) transparent;
    color:white;
    height:100%;
    width:100%;
    position:absolute;
    margin-left:10%;
    
    p{
        color:white;
        margin-top:10%;
        margin-left:10%;
        margin-bottom:0px;
        font-size:50px;
        line-height:50px;       
        font-family:Arial, Helvetica, sans-serif;
        background:#262626;
        position:relative;

        #B{
            text-shadow: 3px 0px 2px #ff0606;  
            color:#08fdd8;
            margin-left:10px;    
            margin-right:-5px;                      
        }     
    }
    pre{
        color:#8d8d8d;
        font-size:11px;
        font-family: "Open Sans",sans-serif;
        letter-spacing: 3px;
        margin-left:10%;         
    }
    h1{
        position:absolute;
        text-shadow: 30px 0px 2px #08fdd8;  
        color:#fc2349;
        font-size:500px;
        margin-left:50%;
        margin-right:10%;
        top:-300px;
        transform: scale(-1, 1) rotate(20deg);     
    }
    button{      
        margin-left:10%;
        color: #08fdd8;
        font-size: 11px;
        letter-spacing: 4px;
        font-family: "Open Sans",sans-serif;
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #08fdd8;
        margin-top: 25px;
        float: left;
        border-radius: 3px;
        background-color:transparent;
        cursor:pointer;
        outline:none;

        &:hover{
            color:#000;
            background-color:#08fdd8;
        }
    }
}
//'About Me' Icon
#aboutMe{
    display:none;
    background: rgb(255, 255, 255) transparent;
    color:#fff;
    position:absolute;
    margin-left:10%;
    margin-top:10%;
    font-family:"Open Sans",sans-serif;
    line-height: 18px;
    font-weight: 300;
    
    h1{
        color:#08fdd8;
        margin-bottom:10%;
        font-size:60px;  
        position:relative;   
        span{  
           &:nth-child(6){
               margin-left:3%;
           }
        }
    }
    p{
        font-size:14px;
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
    }
    //cube
    .wrap{
        margin-top:-40%;
        margin-left:160%;
        perspective:1000px;
        perspective-origin:50% 50%;
        background-color:red;
    }
    .cube{
        transform-style:preserve-3d;
        width:50px;
        height:50px;
        margin:auto;
        position:relative;
    }
    .cube img{
        position:absolute;
        opacity:0.8;
        height:200px;
        width:200px;
        background-color:#5d5d5d;
    }
        .cube img:nth-child(1){
            transform:rotateY(0deg) translateZ(100px);
        }
        .cube img:nth-child(2){
            transform:rotateY(90deg) translateZ(100px);
        }
        .cube img:nth-child(3){
            transform:rotateY(180deg) translateZ(100px);
        }
        .cube img:nth-child(4){
            transform:rotateY(-90deg) translateZ(100px);
        }
        .cube img:nth-child(5){
            transform:rotateX(90deg) translateZ(100px);
        }
        .cube img:nth-child(6){
            transform:rotateX(-90deg) translateZ(100px);
        }
        @keyframes loop{
            from{transform:rotateX(0deg) rotateY(0deg)}
            to{transform:rotateX(360deg) rotateY(360deg)}
        }
        .cube{
            animation:loop 10s linear infinite;
        }
}
//'Skills&Experience' Icon
#skills{
    display:none;
    background: rgb(255, 255, 255) transparent;
    color:#fff;
    position:absolute;
    margin-left:10%;
    margin-top:10%;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    h1{
        color:#08fdd8;
        margin-bottom:10%;
        font-size:40px;  
        position:relative;  

        .span{
            &:nth-child(7){
                margin-left:3%;
            }
        }
    }
    a{
        color:#08fdd8;
        &:hover{
            color:white;
        }
    }
    ul{
        position:absolute;
        height:200%;
        width:200%;
        margin-left:110%;
        margin-top:-400px;

        li{
            list-style-type: none;
            color:#08fdd8;
            transition-duration:1s;
            cursor:default;

            &:nth-child(1){
                position:absolute;
                margin-left:20%;
                margin-top:30%;
                font-size:30px;
                opacity:0.4;  
                transform:rotate(10deg);
            }
            &:nth-child(2){
                position:absolute;
                margin-left:60%;
                margin-top:25%;
                font-size:19px;
                opacity:0.8;  
                transform:rotate(-10deg);
            }
            &:nth-child(3){
                position:absolute;
                margin-left:70%;
                margin-top:60%;
                font-size:35px;
                opacity:1.3;  
                transform:rotate(-60deg);
            }
            &:nth-child(4){
                position:absolute;
                margin-left:50%;
                margin-top:13%;
                font-size:16px;
                opacity:1;  
                transform:rotate(-60deg);
            }
            &:nth-child(5){
                position:absolute;
                margin-left:10%;
                margin-top:40%;
                font-size:27px;
                opacity:1;  
                transform:rotate(120deg);
            }
            &:nth-child(6){
                position:absolute;
                margin-left:30%;
                margin-top:18%;
                font-size:50px;
                opacity:0.4;  
                transform:rotate(-100deg);
            }
            &:nth-child(7){
                position:absolute;
                margin-left:89%;
                margin-top:28%;
                font-size:14px;
                opacity:0.7;  
                transform:rotate(90deg);
            }
            &:nth-child(8){
                position:absolute;
                margin-left:70%;
                margin-top:8%;
                font-size:15px;
                opacity:0.6;  
                transform:rotate(-18deg);
            }
            &:nth-child(9){
                position:absolute;
                margin-left:12%;
                margin-top:19%;
                font-size:27px;
                opacity:0.8;  
                transform:rotate(10deg);
            }
            &:nth-child(10){
                position:absolute;
                margin-left:10%;
                margin-top:3%;
                font-size:12px;
                opacity:0.4;  
                transform:rotate(-40deg);
            }
            &:nth-child(11){
                position:absolute;
                margin-left:20%;
                margin-top:18%;
                font-size:25px;
                opacity:0.8;  
                transform:rotate(45deg);
            }
            &:nth-child(12){
                position:absolute;
                margin-left:41%;
                margin-top:18%;
                font-size:11px;
                opacity:0.5;  
                transform:rotate(-67deg);
            }
            &:nth-child(13){
                position:absolute;
                margin-left:60%;
                margin-top:60%;
                font-size:11px;
                opacity:0.6;  
                transform:rotate(2deg);
            }
            &:nth-child(14){
                position:absolute;
                margin-left:40%;
                margin-top:50%;
                font-size:22px;
                opacity:0.6;  
                transform:rotate(-80deg);
            }
            &:nth-child(15){
                position:absolute;
                margin-left:47%;
                margin-top:65%;
                font-size:18px;
                opacity:0.4;  
                transform:rotate(-98deg);
            }
            &:nth-child(16){
                position:absolute;
                margin-left:60%;
                margin-top:40%;
                font-size:17px;
                opacity:0.6;  
                transform:rotate(10deg);
            }
            &:nth-child(17){
                position:absolute;
                margin-left:18%;
                margin-top:42%;
                font-size:10px;
                opacity:0.3;  
                transform:rotate(-20deg);
            }
            &:nth-child(18){
                position:absolute;
                margin-left:15%;
                margin-top:50%;
                font-size:21px;
                opacity:1;  
                transform:rotate(-87deg);
            }
            &:nth-child(19){
                position:absolute;
                margin-left:25%;
                margin-top:55%;
                font-size:29px;
                opacity:0.8;  
                transform:rotate(-10deg);
            }
            &:nth-child(20){
                position:absolute;
                margin-left:30%;
                margin-top:30%;
                font-size:19px;
                opacity:0.8;  
                transform:rotate(40deg);
            }
            &:nth-child(21){
                position:absolute;
                margin-left:10%;
                margin-top:61%;
                font-size:28px;
                opacity:0.3;  
                transform:rotate(-10deg);
            }
            &:nth-child(22){
                position:absolute;
                margin-left:10%;
                margin-top:10%;
                font-size:19px;
                opacity:0.2;  
                transform:rotate(20deg);
            }
            &:nth-child(23){
                position:absolute;
                margin-left:47%;
                margin-top:19%;
                font-size:21px;
                opacity:0.6;  
                transform:rotate(-3deg);
            }
            &:nth-child(24){
                position:absolute;
                margin-left:50%;
                margin-top:5%;
                font-size:31px;
                opacity:0.3;  
                transform:rotate(-12deg);
            }
            &:nth-child(25){
                position:absolute;
                margin-left:43%;
                margin-top:40%;
                font-size:19px;
                opacity:0.3;  
                transform:rotate(-10deg);
            }
            &:nth-child(26){
                position:absolute;
                margin-left:30%;
                margin-top:8%;
                font-size:17px;
                opacity:0.8;  
                transform:rotate(15deg);
            }
        }
    }
}
//'Portfolio' Icon
#portfolio{
    display:none;
    background: rgb(255, 255, 255) transparent;
    position:absolute;
    height:100%;
    width:100%;
    overflow:auto;
    margin-left:50px;

    a{
        height:25%;
        width:20%;
        display:inline-block;
        border:1px solid #595959;
        cursor:pointer;
        background-color:#595959;
        opacity:0.4;
        transition:2s;  
                 
        &:hover{
            opacity:1;
        }
    }

    #project1{
        background:url('images/ProjectsImage/project1.png');
        background-position:center;
        background-size:cover;
    }
    #project2{
        background:url('images/ProjectsImage/project2.png');
        background-position:center;
        background-size:cover;
    }
    #project3{
        background:url('images/ProjectsImage/project3.png');
        background-position:center;
        background-size:cover;
    }
    #project4{
        background:url('images/ProjectsImage/project4.png');
        background-position:center;
        background-size:cover;
    }
    #project5{
        background:url('images/ProjectsImage/project5.png');
        background-position:center;
        background-size:cover;
    }

}
