body{
    margin:0;
    padding:0; 
}
//Navigation Bar
.navigation-bar{
    height:5%;
    width:90%;
    background:#454545;
    color:#858585; 
    padding:0.3%;

    li:first-of-type{
        margin-left:20%;
        
        &:hover{
            background-color:#454545;
        }
    }
    .active{
        background-color:#292929;
        color:#c1c1c1;
    }
    li{ 
        list-style-type: none;
        display:inline-block;
        height:100%;
        margin-left:0.5%;
        font-size:100%;
        padding:0 1%;
        cursor:pointer;
        
        &:hover{
            background-color:#292929;
        }
        a{
            color:#858585;
            text-decoration:none;

        }
      
    }
}
//index.php
#client-form{
    background:url('background.jpg');
    background-size:cover;
    height:100vh;
    width:100vw;


    #client-data-form{
        position:relative;
        top:30%;
        height:30%;
        width:30%;
        padding:2%;
        border:2px solid #404040;
        margin:0 auto;
        border-radius:4px;
        background:#5f5f5f;
        font-weight:bold;
        color:#313131;
        overflow:hidden;
        animation-name:client-form-animate;
        animation-duration: 2s;
        p{
         text-align:center;
        }
        input{
           float:right; 
           outline:none;
           width:50%;
           background:none;
           border:none;
           border-bottom:2px solid #404040;
           text-align:center;
           color:#313131;
        }
        #client-submit-btn{
            width:50%;
            margin-top:5%;
            background:#247482;
            border-radius:5%;
            border:none;
            cursor:pointer;
            color:white;
            font-size:20px;     
            &:disabled{
                background:#7c7c7c;
                color:#939393;
            }
        }
    
        @keyframes client-form-animate{
            from{bottom: -50px; opacity: 0;}
            to{bottom: 0px; opacity: 1;}
        }
    }
}
//home.php
#homePHP{
    text-align:center;
    padding:5%;
    overflow:hidden;
    a{
        text-decoration:none;
    }
    h1{
        font-size:50px;
    }
    p{
        font-size:20px;

    }
}

//signinPHP
#signinPHP{
    color:#6f6f6f;
    padding-left:5%;
    overflow:hidden;
    p:first-of-type{
        font-size:30px;   
    }
    table {
        width:40%;
        td{
            display:block;
            margin:1%;
            font-weight:bold;

            input{
                width:100%;   
                outline:none;
                text-indent:20px;      
            }          
            label{       
                cursor:pointer;   
                
                input[type='checkbox']{
                    width:3%;     
                }     
            }
            a{
                font-size:15px;
                color:#298e9a;           
                float:right;
                margin-top:-5%;
             
            }
            button{
                border:2px solid #296ca3;
                outline:none;
                width:70%;
                border-radius:10px;
                cursor:pointer;
                color:white;
                background-color:#296ca3;
                width:100%; 
                padding:5px;
            }
           
        }
    }
}

//signupPHP
#signupPHP{
    color:#6f6f6f;
    padding-left:5%;
    overflow:hidden;
    p:first-of-type{
        font-size:30px;
    }
    table { 
        width:40%;    
        td{
            display:block;
            margin:1%;
            font-weight:bold;
                 
            input{
                width:100%;   
                outline:none;
                text-indent:20px;        
            }
            button{
                border:2px solid #296ca3;
                outline:none;
                width:70%;
                border-radius:10px;
                cursor:pointer;
                color:white;
                background-color:#296ca3;
                width:100%; 
                padding:5px;
            }
        }
    }
}
#forgot_passwordPHP{
    color:#6f6f6f;
    padding-left:5%;
    overflow:hidden;
    p:first-of-type{
        font-size:30px;
    }
    table {  
        width:40%;   
        td{
            display:block;
            margin:1%;
            font-weight:bold;
                 
            input{
                width:100%;   
                outline:none;
                text-indent:20px;        
            }
            button{
                border:2px solid #296ca3;
                outline:none;
                width:70%;
                border-radius:10px;
                cursor:pointer;
                color:white;
                background-color:#296ca3;
                width:100%; 
                padding:5px;
            }
        }
    }
}

